.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.form > * {
    margin-bottom: $space-lg;
}

.form > *:last-child {
    margin-bottom: 0;
}