.input {
    border: 2px solid $color-light-grey;
    border-radius: $b-rad;
    padding: $space-sm $space;
    height: $input-text-height;
    font-size: $fz-sm;
    width: 100%;
}

.input:focus {
    border-color: $color-deep-blue;
}

.input-title {
    padding-bottom: $space-sm;
    font-weight: 700;
    color: $color-text;
}

.input-label {
    display: flex;
    flex-direction: column;
    width: 100%;
}